<app-menu></app-menu>
<app-logo [title]="'Appointments'"></app-logo>
<app-appointment-list [appointmentViewType]="appointmentViewTypeALL"></app-appointment-list>
<div class="btn-bar">
  <button class="create-btn" mat-raised-button color="accent" (click)="openDialog()">Create Appointment</button>
</div>
